<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:55px;">
    <!-- Add EJS code here -->
    <!-- a use ejs to display a list or table of the URLs and their shortended forms -->
    <!-- views/partials/_header.ejs-->
    <% include partials/_header.ejs %>  
    <h3> My URLs </h3>
    <ul>
      <% for (let key in URLs) { %> <li> 
        <form method="POST" action="/urls/<%=key%>/delete">
          <!-- <button name="shortURL" value=<%=key%>></button></button> -->
            <a href="<%=URLs[key]%>"><%= key %></a>: <%= URLs[key] %>
            <a href="<%=URLs[key]%>"></a>
            <a class="btn btn-sm btn-info" href='/urls/<%=key%>' role="button">Edit </button></a>
            <a><button class="btn btn-sm btn-danger">Delete <i class="fa fa-trash"></i></button> </a></a>
        </form>
        </li>
      <% } %>
    </ul>
</body>
</html>